<app-header></app-header>
<div class="movie-container">
  <div class="banner">
    <img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" alt="Movie Banner" />
  </div>

  <app-movie-info [movie]="movie">
    <div class="make-review">
      <div *ngIf="userRating !==0">
        <p>Your Rating: {{ userRating }}</p>
        <button id="delete" class="btn" *ngIf="authenticated" (click)="deleteReview()">Delete Review</button>
        <button id="edit" class="btn" *ngIf="authenticated" (click)="editReview()">Edit Review</button>
      </div>
      <div *ngIf="userRating === 0">
        <button class="btn" *ngIf="authenticated" (click)="goToReview()">Make a Review</button>
      </div>
    </div>
  </app-movie-info>
</div>
