.rating i {
  margin-right: 3px;
  font-size: 1rem;
  color:gold;
}
.text-warning {
  color: #ffc107 !important; /* Culoare aurie pentru stele pline */
}

.text-muted {
  color: #6c757d !important; /* Culoare gri pentru stele goale */
}
