<app-header></app-header>
<div class="base-container" *ngIf="isLoaded">
  <div>
    <div class="film-list">
      <div class="filter-container">
        <div class="search-container">
          <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()" name="search"
            id="searchInput" placeholder="Search by title" class="search-bar" [disabled]="selectedGenre != 'all'">
        </div>
        <select [(ngModel)]="selectedSort" (ngModelChange)="sortMovies()" id="sortFilter">
          <option value="" disabled selected>Sort</option>
          <option value="year_desc">Latest</option>
          <option value="year_asc">Oldest</option>
          <option value="title_asc">Title (A-Z)</option>
          <option value="title_desc">Title (Z-A)</option>
        </select>
        <select [(ngModel)]="selectedGenre" id="genreFilter" (ngModelChange)="onGenreChange()">
          <option value="" disabled selected>Discover by Genre</option>
          <option value="all">All</option>
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Horror">Horror</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="film-poster-list" id="film-poster-list">
        <div class="film-poster" *ngFor="let movie of filteredMovies">
          <app-movie-poster [movie]="movie"></app-movie-poster>
        </div>
      </div>

      <div class="pagination">
        <button (click)="goToPreviousPage()" [disabled]="page === 1" class="pagination-btn">
          Previous
        </button>

        <button (click)="goToNextPage()" [disabled]="!hasNextPage" class="pagination-btn">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoaded" class="loading-spinner">
  <span class="loader"></span>
</div>
