.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('https://cdn.pixabay.com/photo/2016/10/29/09/06/abstract-1780089_960_720.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imdb-logo {
  width: 225px;
  margin-right:15%;
}

.register-form {
  width: 500px;
  height: 530px;
  padding: 20px;
  background-color: rgba(165,165,165,0.15);
  backdrop-filter: blur(20px);
  border:2 px solid rgba(255,255,255,0.107);
  box-sizing: border-box;
  border-radius: 2em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 20px;
}

.form-group input {
  width: 100%;
  font-size:16px;
  color:white;
  border:none;
  border-bottom:1px solid #fff;
  outline:none;
  background-color: transparent;
}


label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  outline: none;
}

.form-control:focus {
  border-color: #000000;
}

button {
  width: 60%;
  padding: 10px;
  background-color: #f76700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #e65600;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.text-muted {
  margin-top: 10px !important;
  text-align: center;
  display: block;
  color: #888888 !important;
}

.login-link {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.login-link p {
  font-size: 14px;
  color: #888888;
  margin: 0;
}

.login-link-text {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.login-link-text:hover {
  text-decoration: underline;
  color: #0056b3;
}
