app-movie-info {
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.changes {
  display: flex;
  gap: 10px;
}

.view-more {
  margin-left: auto;
}

.btn {
  background-color: #1E88E5;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#edit {
  background-color: #daa000;
}

#delete {
  background-color: #ff0000;
}

.btn:hover {
  background-color: #495049 !important;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.98);
}

.not-authenticated {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-size: 24px;
  color: #7e7e7e;
  font-weight: bold;
}

.login-message {
  font-size: 22px;
  font-weight: 500;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
