<app-header></app-header>
<div class="is-authenticated" *ngIf="isLoaded && isAuthenticated">
  <div *ngFor="let review of reviews" class="movie-container">
    <app-movie-info [movie]="review">
      <div class="button-container">
        <div class="changes">
          <button id="delete" class="btn" (click)="deleteReview(review.movie_id)">Delete</button>
          <button id="edit" class="btn" (click)="editReview(review.movie_id)">Edit</button>
        </div>
        <div class="view-more">
          <button class="btn" (click)="goToMovie(review.movie_id)">View Movie</button>
        </div>
      </div>
    </app-movie-info>
  </div>
</div>
<div class="not-authenticated" *ngIf="isLoaded && !isAuthenticated">
  <p class="login-message">Please log in to view your reviews.</p>
</div>
<div *ngIf="!isLoaded" class="loading-spinner">
  <span class="loader"></span>
</div>

<div class="no-reviews" *ngIf="isLoaded && isAuthenticated && reviews.length === 0">
  <p>You have not reviewed any movies yet.</p>
</div>
